In [1]:
import numpy as np
import pandas as pd

In [2]:
data_file = './data/obj_pose-laser-radar-synthetic-input.txt'

In [5]:
cols = ['sensor_type', 'val0', 'val1', 'val2', 'val3', 'val4', 'val5', 'val6', 
        'val7', 'val8', 'val9']
input_pd = pd.read_csv(data_file, sep='\t', header=None, names=cols)

In [6]:
input_pd.head()

,sensor_type,val0,val1,val2,val3,val4,val5,val6,val7,val8,val9
0,L,0.312243,0.580340,1.477010e+15,6.000000e-01,0.600000,5.199937,0.000000,0.000000,0.006911,NaN
1,R,1.014892,0.554329,4.892807e+00,1.477010e+15,0.859997,0.600045,5.199747,0.001797,0.000346,0.013822
2,L,1.173848,0.481073,1.477010e+15,1.119984e+00,0.600225,5.199429,0.005390,0.001037,0.020730,NaN
3,R,1.047505,0.389240,4.511325e+00,1.477010e+15,1.379955,0.600629,5.198979,0.010778,0.002073,0.027634
4,L,1.650626,0.624690,1.477010e+15,1.639904e+00,0.601347,5.198392,0.017960,0.003455,0.034535,NaN

In [14]:
lidar_pd = input_pd[input_pd['sensor_type']=='L']
radar_pd = input_pd[input_pd['sensor_type']=='R']

In [15]:
lidar_pd = lidar_pd.iloc[:,0:10]

In [16]:
lidar_pd.head()

,sensor_type,val0,val1,val2,val3,val4,val5,val6,val7,val8
0,L,0.312243,0.580340,1.477010e+15,0.600000,0.600000,5.199937,0.000000,0.000000,0.006911
2,L,1.173848,0.481073,1.477010e+15,1.119984,0.600225,5.199429,0.005390,0.001037,0.020730
4,L,1.650626,0.624690,1.477010e+15,1.639904,0.601347,5.198392,0.017960,0.003455,0.034535
6,L,2.188824,0.648739,1.477010e+15,2.159704,0.604085,5.196776,0.037693,0.007253,0.048318
8,L,2.655256,0.665980,1.477010e+15,2.679323,0.609155,5.194504,0.064565,0.012429,0.062071

In [17]:
lidar_pd.columns = ['sensor_type', 'x_measured', 'y_measured', 'timestamp', 'x_groundtruth', 
                    'y_groundtruth', 'vx_groundtruth', 'vy_groundtruth', 'yaw_groundtruth', 
                    'yawrate_groundtruth']

In [18]:
lidar_pd.head()

,sensor_type,x_measured,y_measured,timestamp,x_groundtruth,y_groundtruth,vx_groundtruth,vy_groundtruth,yaw_groundtruth,yawrate_groundtruth
0,L,0.312243,0.580340,1.477010e+15,0.600000,0.600000,5.199937,0.000000,0.000000,0.006911
2,L,1.173848,0.481073,1.477010e+15,1.119984,0.600225,5.199429,0.005390,0.001037,0.020730
4,L,1.650626,0.624690,1.477010e+15,1.639904,0.601347,5.198392,0.017960,0.003455,0.034535
6,L,2.188824,0.648739,1.477010e+15,2.159704,0.604085,5.196776,0.037693,0.007253,0.048318
8,L,2.655256,0.665980,1.477010e+15,2.679323,0.609155,5.194504,0.064565,0.012429,0.062071

In [20]:
radar_pd.columns = ['sensor_type', 'rho_measured', 'phi_measured', 'rhodot_measured', 
                    'timestamp', 'x_groundtruth', 'y_groundtruth', 'vx_groundtruth', 
                    'vy_groundtruth', 'yaw_groundtruth', 'yawrate_groundtruth']

In [21]:
radar_pd.head()

,sensor_type,rho_measured,phi_measured,rhodot_measured,timestamp,x_groundtruth,y_groundtruth,vx_groundtruth,vy_groundtruth,yaw_groundtruth,yawrate_groundtruth
1,R,1.014892,0.554329,4.892807,1.477010e+15,0.859997,0.600045,5.199747,0.001797,0.000346,0.013822
3,R,1.047505,0.389240,4.511325,1.477010e+15,1.379955,0.600629,5.198979,0.010778,0.002073,0.027634
5,R,1.698300,0.298280,5.209986,1.477010e+15,1.899823,0.602470,5.197661,0.026932,0.005182,0.041430
7,R,2.044382,0.276002,5.043867,1.477010e+15,2.419540,0.606284,5.195728,0.050239,0.009669,0.055199
9,R,2.990916,0.217668,5.191807,1.477010e+15,2.939043,0.612786,5.193090,0.080668,0.015532,0.068933